.r-icon
  height 24px
  width 24px
  display inline-block

  &.icon-text
    vertical-align text-bottom
    display inline-block
    position relative
    top 1px

  &.icon-text,
  &.icon-text svg
    height 18px !important
    width 18px !important

  .darkMode & svg
    fill $color-text-darkmode

  &.gray svg
    fill $color-text-quiet

    .darkMode &
      fill $color-text-quiet-darkmode

  &.green svg
    fill $color-green

    .darkMode &
      fill lighten($color-green, 4)

  &.red svg
    fill $color-red

    .darkMode &
      fill lighten($color-red, 4)

  &.blue svg
    fill lighten($color-text-blue, 10%)

    .darkMode &
      fill lighten($color-text-blue-darkmode, 5%)

  &.link svg
    fill $color-link

    .darkMode &
      fill $color-link-darkmode

  &.gold svg
    fill $color-gold

  &.white svg
    fill $color-white
