.r-icon
  height 24px
  width 24px
  display inline-block

  &.icon-text
    vertical-align text-bottom
    display inline-block
    position relative
    top 1px

  &.icon-text,
  &.icon-text svg
    height 18px !important
    width 18px !important

  .darkMode & svg
    fill $color-darkmode-text

  &.gray svg
    fill $color-gray-text

    .darkMode &
      fill $color-darkmode-text-dim

  &.light-gray svg
    fill $color-gray-text-light

  &.green svg
    fill $color-green

    .darkMode &
      fill lighten($color-green, 4)

  &.red svg
    fill $color-red

    .darkMode &
      fill lighten($color-red, 4)

  &.blue svg
    fill $color-blue

    .darkMode &
      fill darken($color-blue, 7)

  &.gold svg
    fill $color-gold

  &.white svg
    fill $color-white
