.r-tabs-container

  .r-tabs-line
    margin-top -1px
    border-bottom 1px solid $color-border-light

    .darkMode &
      border-bottom-color $color-border-medium-darkmode

    &.extendLine
      margin-left - $space-medium
      margin-right - $space-medium

  .r-tab
    border-radius 0

    &:not(:focus)
      box-shadow none !important

    &.active
      border-top 3px solid transparent
      border-bottom 3px solid $color-focus-blue
      color $color-text-blue

      .darkMode &
        color $color-text-blue-darkmode

    .text-color-quiet
      font-weight $font-weight-sans-regular
