.r-toast-list
  position fixed
  top 36px
  left 10px
  right 10px
  z-index 13000
  user-select none
  pointer-events none

.r-toast-list-inner
  max-width 700px
  margin 0 auto
  position relative
  text-align center

.r-toast-notification
  display inline-block
  padding 15px 25px
  margin-bottom 5px
  word-break break-word
  color $color-white
  font-sans($font-size-normal, $font-weight-sans-bold)
  border-radius $border-radius
  pointer-events all
  user-select none
  background $color-background-3-darkmode
  box-shadow 0 2px 10px -2px alpha($color-black, 20%)

  .darkMode &
    background $color-background-1-darkmode
    box-shadow 0 2px 10px 0 alpha($color-black, 40%)

.r-toast-list-enter,
.r-toast-list-leave-to
  opacity 0

.r-toast-list-enter-active,
.r-toast-list-leave-active,
.r-toast-list-move
  transition all .2s

.r-toast-list-leave-active
  position absolute
  left 0
  right 0
