.r-tooltip-enter-active
  transition opacity 100ms

.r-tooltip-enter
  opacity 0

.r-tooltip-arrow-enter-active
  transition opacity 150ms

.r-tooltip-arrow-enter
  opacity 0

.r-tooltip
  position fixed
  z-index 12000
  padding 5px 12px
  margin-right 5px
  word-break break-word
  color $color-white
  font-sans($font-size-normal, $font-weight-sans-bold)
  border-radius $border-radius
  pointer-events none
  user-select none
  background $color-background-3-darkmode
  box-shadow 0 2px 10px -2px alpha($color-black, 20%)

  .darkMode &
    background $color-background-1-darkmode
    box-shadow 0 2px 10px 0 alpha($color-black, 40%)

.r-tooltip-arrow
  position fixed
  z-index 12001
  $_size = 7px
  border-top $_size solid $color-background-3-darkmode
  border-left $_size solid transparent
  border-right $_size solid transparent
  border-bottom $_size solid transparent
  pointer-events none
  user-select none

  .darkMode &
    border-top-color $color-background-1-darkmode
