defineCssVar(name, value)
  {unquote("--" + name)}: value

c(name, lightValue, darkValue = lightValue)
  // "$c-name" creates a reference to dynamic css variable that responds to dark/light mode at runtime
  define("$c-" + name, var(unquote("--c-" + name)), true)

  // "_$c-name" has a static light mode value for doing calculations during Stylus build
  define("_$c-" + name, lightValue, true)

  // "_$c-name-darkmode" has a static dark mode value for doing calculations during Stylus build
  define("_$c-" + name + "-darkmode", darkValue, true)

  :root
    defineCssVar("c-" + name, lightValue)

  html.darkMode
    defineCssVar("c-" + name, darkValue)

v(name, value)
  // "$name" creates a reference to dynamic css variable
  define("$" + name, var(unquote("--" + name)), true)

  // "_$name" has a static value for doing calculations during Stylus build
  define("_$" + name, value, true)

  :root
    defineCssVar(name, value)

darkMode()
  html.darkMode &
    {block}
