.
  # Reino Vue Components
  ![npm version](https://img.shields.io/npm/v/@rzuppur/rvc)
  ![Licence](https://img.shields.io/npm/l/@rzuppur/rvc)
  ![Netlify demo build](https://img.shields.io/netlify/0f67bc1f-5af9-4c5a-ad7d-25c4e7ecdc00?label=demo%20build)

  [View demo & docs](https://rvc-demo.netlify.com/)
  <br>
  [Install](#install)

  <br>

  ### Modal

include docs/modal.md

.
  ### Tooltip

include docs/tooltip.md

.
  ### Button

include docs/button.md

.
  ### Icon

include docs/icon.md

.
  ### Toast notification

include docs/toast.md

.
  ### Dark mode

include docs/dark.md

.
  ### Containers

include docs/container.md

.
  ### Typography

include docs/typo.md

.
  ### Tabs

include docs/tab.md

.
  ### Form

include docs/form.md

.
  ### Sheets

include docs/sheet.md

.
  ### Other

include docs/other.md

.
  <br/><br/>

  ## Usage
  ### Install

include docs/usage.md

.

  ## Dev
  ### Project setup
  ```
  yarn install
  ```

  ### Compiles and hot-reloads for development
  ```
  yarn run demo
  ```

  ### Compiles and minifies for production
  ```
  yarn run build
  ```
