.
  # Reino Vue Components

  [View demo](https://rvc-demo.netlify.com/)

  <br>

  ### Tooltip

include docs/tooltip.md

.
  ### Button

include docs/button.md

.
  ### Icon

include docs/icon.md

.
  ### Toast notification

include docs/toast.md

.
  ### Dark mode

include docs/dark.md

.
  <br/><br/>

  ## Usage

  ### Install
  `yarn add @rzuppur/rvc` or `npm install --save @rzuppur/rvc`

  #### **`src/main.js`**
  ```javascript
  import rvc from "@rzuppur/rvc";
  Vue.use(rvc);
  ```


  ### Project setup
  ```
  yarn install
  ```

  ### Compiles and hot-reloads for development
  ```
  yarn run demo
  ```

  ### Compiles and minifies for production
  ```
  yarn run build
  ```
