.r-container-xs,
.r-container-sm,
.r-container-md,
.r-container-lg,
.r-container-xl,
.r-container-xxl,
.r-container-fill
  margin-left auto
  margin-right auto
  padding-left $s-md
  padding-right $s-md

.r-container-xs
  max-width $container-xs

.r-container-sm
  max-width $container-sm

.r-container-md
  max-width $container-md

.r-container-lg
  max-width $container-lg

.r-container-xl
  max-width $container-xl

.r-container-xxl
  max-width $container-xxl
