.r-form-group
  margin-bottom $s-md

.r-form-label
  display block
  margin-bottom $space-extra-tiny

.r-input-text
  control()
  color $c-text

  &::placeholder
    color $c-text-quiet
    opacity 0.8

  &.invalid
    border-color $c-accent-error
    box-shadow inset 0 0 2px $c-accent-error

textarea.r-input-text
  overflow hidden
  height auto
  padding 9px 12px
  resize vertical
