/*
@font-face
  font-family "Material Symbols Outlined"
  font-style normal
  font-display block
  src url("../assets/material-symbols-outlined.woff2") format("woff2-variations")
*/

@font-face
  font-family "Material Symbols Rounded"
  font-style normal
  font-display block
  src url("../assets/material-symbols-rounded.woff2") format("woff2-variations")

$_iconWeight = 350;
$_iconGrad = 0;
$_iconGradDarkMode = -25;

.r-icon
  font-family "Material Symbols Rounded" //, "Material Symbols Outlined"
  display inline-block
  user-select none
  overflow hidden
  vertical-align bottom
  font-weight 400
  font-style normal
  text-transform none
  letter-spacing normal
  line-height 1
  word-wrap normal
  white-space nowrap
  direction ltr
  font-feature-settings "liga"
  font-variation-settings "FILL" 0, "wght" $_iconWeight, "GRAD" $_iconGrad
  font-optical-sizing auto
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

  &.filled
    font-variation-settings "FILL" 1, "wght" $_iconWeight, "GRAD" $_iconGradDarkMode

  .darkMode &:not(.filled)
    font-variation-settings "FILL" 0, "wght" $_iconWeight, "GRAD" $_iconGradDarkMode

  .darkMode &.filled
    font-variation-settings "FILL" 1, "wght" $_iconWeight, "GRAD" $_iconGradDarkMode

  &.icon-sm
    font-size 20px
    width @font-size
    height @font-size

  &.icon-md
    font-size 24px
    width @font-size
    height @font-size

  &.icon-lg
    font-size 40px
    width @font-size
    height @font-size

  &.icon-text
    vertical-align text-bottom
    display inline-block
    position relative
    top 1px

  &.gray
    color $c-icon-gray

  &.green
    color $c-icon-green

  &.red
    color $c-icon-red

  &.blue
    color $c-icon-blue

  &.yellow
    color $c-icon-yellow

  &.white
    color $c-icon-white