.r-icon
  height 24px
  width 24px
  display inline-block

  &.icon-text
    vertical-align text-bottom
    display inline-block
    position relative
    top 1px

  &.icon-text,
  &.icon-text svg
    height 18px !important
    width 18px !important

  &.gray svg
    fill $c-text-muted

  &.green svg
    fill green

  &.red svg
    fill $c-text-red

  &.blue svg
    fill $c-text-blue

  &.gold svg
    fill $c-text-yellow

  &.white svg
    fill $c-text-white