/*
SHARED
 */
control-fullwidth()
  display flex
  width 100%

_$input-height = 42px
_$input-height-small = 34px

control-small()
  height _$input-height-small

control()
  -webkit-touch-callout none
  -webkit-appearance none
  -moz-appearance none

  display inline-flex
  align-items center
  justify-content center
  position relative
  vertical-align top

  height _$input-height
  padding 0 12px
  border-radius $s-sm
  border 2px solid $c-border-dark

  color $c-text
  background-color $c-background-raised
  font-family $t-family
  text-decoration none

  &:focus,
  &:active
    outline none

  &[disabled]
    pointer-events none

  &.fullwidth
    control-fullwidth()

  &.small
    control-small()

/*
BUTTON
 */
@keyframes rSpin
  from
    transform rotate(0deg)
  to
    transform rotate(359deg)

.r-button
  control()
  cursor pointer
  user-select none
  white-space nowrap
  text-align center
  transition background-color $transition-fast, box-shadow $transition-default

  &:hover,
  &.borderless:hover
    background-color $c-button-hover

  &:active:not([disabled])
    box-shadow inset 0 0 0 2px $c-border-medium

  &:focus:not(:active)
    box-shadow inset 0 0 0 2px $c-accent-yellow !important
    border-color $c-accent-black !important

  &.borderless
    background-color transparent
    border-color transparent

  &.primary
    background-color $c-button-primary
    border-color transparent
    color $c-text-white

    &:hover
      background-color $c-button-primary-hover

    &:active:not([disabled])
      box-shadow inset 0 0 0 2px $c-button-primary

  &.gray
    background-color $c-button-gray

    &:hover
      background-color $c-button-hover

  &[disabled]
    box-shadow none !important
    opacity 0.5

  &.icon-only
    width _$input-height
    min-width 0
    padding 0

    &.small
      width _$input-height-small

  &.loading
    color transparent !important
    pointer-events none

    & > span
      opacity 0

    &::after
      content ""
      width 18px
      height @width
      border 2px solid transparent
      border-top-color $c-border-dark
      border-right-color $c-border-dark
      border-radius 100%
      animation rSpin 0.6s infinite linear
      position absolute !important

  &.loading.primary::after
    border-top-color $c-accent-white
    border-right-color $c-accent-white

  & > .r-icon
    transition opacity $transition-fast

    &:first-child:not(:last-child)
      margin-left -2px
      margin-right 8px

    &:last-child:not(:first-child)
      margin-left 8px
      margin-right -2px

    &:first-child:last-child
      margin-left 0
      margin-right 0

  & > span:not(.r-icon)
    transition opacity $transition-fast
    font-weight $t-weight-medium
    position relative
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
    font-size $t-size-xs

&.small > .r-icon

  &:first-child:not(:last-child)
    margin-left -4px
    margin-right 5px

  &:last-child:not(:first-child)
    margin-right -4px
    margin-left 5px

/*
BUTTON GROUP
 */
_$buttons_margin = _$s-sm

.r-buttons
  margin-right -(_$buttons_margin)
  margin-bottom -(_$buttons_margin)
  display flex
  flex-direction row
  flex-wrap wrap
  align-items center

  .r-button
    margin-right _$buttons_margin
    margin-bottom _$buttons_margin
    max-width 100%
    flex 0 0 auto

.r-buttons-grouped
  margin-right -(_$buttons_margin)
  margin-bottom -(_$buttons_margin)

  .r-button-group
    display inline-block
    margin-right _$buttons_margin
    margin-bottom _$buttons_margin

    .r-button + .r-button
      border-top-left-radius 0
      border-bottom-left-radius 0
      margin-left -2px

    .r-button

      &:hover,
      &:focus
        z-index 1

      &:not(:last-child)
        border-top-right-radius 0
        border-bottom-right-radius 0
/*
FORM GROUP
 */
.r-form-group
  margin-bottom $s-md

/*
LABEL
 */
.r-form-label
  display block
  margin-bottom $space-extra-tiny

/*
TEXT
 */

 control-text()
  &:active:not([disabled]),
  &:focus:not(:active)
    border-color $c-accent-focus
    box-shadow 0 0 2px $c-accent-focus

.r-input-text
  control()
  control-text()
  color $c-text

  &::placeholder
    color $c-text-quiet
    opacity 0.8

  &.invalid
    border-color $c-accent-error

textarea.r-input-text
  control-text()
  overflow hidden
  height auto
  padding 9px 12px 12px
  resize vertical
