/*
COLORS

naming:
$color - {type?} - {name} - {darkmode?}

 */

$color-blue ?= #2097e8
$color-text-blue ?= #1c69ab
$color-text-blue-darkmode ?= lighten($color-blue, 8)

$color-red ?= #e24161
$color-text-red ?= #b71317
$color-text-red-darkmode ?= $color-red

$color-green ?= #009635
$color-text-green ?= #109541

$color-yellow ?= #ffdd57
$color-gold ?= #eebc41

$color-white ?= #ffffff
$color-black ?= #000000

$color-text ?= #40444a
$color-text-quiet ?= #777
$color-text-darkmode ?= #e1e3e5
$color-text-quiet-darkmode ?= darken($color-text-darkmode, 20%)

$color-border-light ?= #eee
$color-border-medium ?= #ddd
$color-border-medium-darkmode ?= alpha($color-white, 15%)

$color-focus-blue ?= #0d7cc8
$color-button-cta ?= $color-blue

$color-link ?= $color-text-blue
$color-link-darkmode ?= $color-text-blue-darkmode

$color-link-visited ?= spin(desaturate($color-link, 15%), 10deg)
$color-link-visited-darkmode ?= lighten(spin($color-link-darkmode, 10deg), 15%)

@import "shared/colors-ui.styl"

/*
SIZES
 */
$border-radius ?= 4px

$height-input ?= 40px
$height-input-small ?= 34px


/*
TYPOGRAPHY
 */
$font-sans ?= "Inter", BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"

$font-weight-sans-regular ?= 400
$font-weight-sans-medium ?= 500
$font-weight-sans-bold ?= 600

$line-height-base ?= 1.5
$font-size-base ?= 16px
$font-sizes-ratio ?= 1.333

font-size-ratio(level)
  max(13px, round($font-size-base * ($font-sizes-ratio ** level)))

$font-size-small ?= font-size-ratio(-1)
$font-size-normal ?= font-size-ratio(0)
$font-size-large-1 ?= font-size-ratio(1)
$font-size-large-2 ?= font-size-ratio(2)
$font-size-large-3 ?= font-size-ratio(3)
$font-size-large-4 ?= font-size-ratio(4)
$font-size-large-5 ?= font-size-ratio(5)

tracking(fontSize)
  letter-spacing round(-0.017+(0.202*(2.71828**(-0.175*fontSize))), 3)em

lineHeightRounded(fontSize, lineHeight)
  line-height round(lineHeight * fontSize)px

leading(fontSize)
  lineHeightRounded(fontSize, $line-height-base - (fontSize - $font-size-normal) * .009)

font-sans(size, weight=$font-weight-sans-regular)
  font-size size*1px
  tracking(size)
  leading(size)
  font-weight weight

font-sans-no-weight(size)
  font-size size*1px
  tracking(size)
  leading(size)

/*
SPACING
 */

$spacing-base ?= round($font-size-base * $line-height-base)

$space-extra-tiny ?= round($spacing-base / 8px)
$space-tiny ?= round($spacing-base / 4px)
$space-small ?= round($spacing-base / 2px)
$space-medium ?= $spacing-base
$space-large ?= round($spacing-base * 2px)
$space-huge ?= round($spacing-base * 4px)

$container-tiny ?=  $space-medium * 10
$container-small ?=  $space-medium * 20
$container-medium ?=  $space-medium * 30
$container-large ?=  $space-medium * 40
$container-huge ?=  $space-medium * 60

/*
MIXINS
 */

control-fullwidth()
  display flex
  width 100%

control-small()
  height $height-input-small

control()
  -webkit-touch-callout none
  -webkit-appearance none
  -moz-appearance none

  display inline-flex
  align-items center
  justify-content center
  position relative
  vertical-align top

  height $height-input
  padding 0 12px
  border none
  border-radius $border-radius

  font-family $font-sans
  font-sans($font-size-normal)
  text-decoration none

  box-shadow inset 0 0 0 1px $color-border-medium
  transition box-shadow 100ms

  .darkMode &
    box-shadow inset 0 0 0 1px $color-border-medium-darkmode

  &:focus,
  &:active
    outline none

  &[disabled]
    pointer-events none

  &:active:not([disabled])
    box-shadow inset 0 0 0 2px alpha($color-focus-blue, 50%) !important

  &:hover
    box-shadow inset 0 0 0 1px alpha($color-focus-blue, 50%) !important

  &:focus:not(:active)
    box-shadow inset 0 0 0 2px $color-focus-blue !important

  &.fullwidth
    control-fullwidth()

  &.small
    control-small()
