@require "shared/color-palette.styl"
@require "shared/mixins.styl"


/*
COLORS
 */
c("background", $p-gray-100, $p-gray-950)
c("background-raised", $p-white, $p-gray-900)

c("text", $p-gray-900, $p-gray-400)
c("text-muted", $p-gray-700, $p-gray-500)
c("text-blue", $p-blue-800, $p-blue-600)
c("text-purple", $p-purple-500, $p-purple-300)
c("text-red", $p-red-600, $p-red-300)
c("text-yellow", $p-yellow-600)
c("text-white", $p-white)

c("border-light", $p-gray-200, $p-gray-850)
c("border-medium", $p-gray-300, $p-gray-800)
c("border-dark", $p-gray-500, $p-gray-600)

c("accent-white", $p-white)
c("accent-black", $p-black)
c("accent-yellow", $p-yellow-400, $p-yellow-700)
c("accent-focus", $p-blue-300, $p-blue-700)
c("accent-error", $p-red-300)

c("button-hover", alpha($p-black, 0.03), alpha($p-white, 0.05))
c("button-primary", $p-blue-700)
c("button-primary-hover", $p-blue-600)
c("button-gray", $p-gray-100, $p-gray-850)

c("background-tooltip", alpha($p-black, 0.9))
c("background-toast", alpha($p-black, 0.8), alpha($p-black, 0.9))

/*
SPACING
 */
v("s-none", 0)
v("s-xxs", 2px)
v("s-xs", 4px)
v("s-sm", 8px)
v("s-md", 16px)
v("s-lg", 32px)
v("s-xl", 64px)
v("s-xxl", 128px)

v("container-xs", 380px)
v("container-sm", 540px)
v("container-md", 720px)
v("container-lg", 960px)
v("container-xl", 1140px)
v("container-xxl", 1320px)

/*
TYPOGRAPHY
 */
v("t-family", unquote('BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"'))

v("t-weight-light", 300)
v("t-weight-regular", 400)
v("t-weight-medium", 500)
v("t-weight-bold", 700)

v("t-line-height-base", 1.5)
v("t-size-base", 16px)

_$t-ratio = 1.333
v("t-size-xxs", "calc(max(%s * %s, 14px))" % ($t-size-base (_$t-ratio ** -1)))
v("t-size-xs", "calc(%s * %s)" % ($t-size-base (_$t-ratio ** 0)))
v("t-size-sm", "calc(%s * %s)" % ($t-size-base (_$t-ratio ** 1)))
v("t-size-md", "calc(%s * %s)" % ($t-size-base (_$t-ratio ** 2)))
v("t-size-lg", "calc(%s * %s)" % ($t-size-base (_$t-ratio ** 3)))
v("t-size-xl", "calc(%s * %s)" % ($t-size-base (_$t-ratio ** 4)))
v("t-size-xxl", "calc(%s * %s)" % ($t-size-base (_$t-ratio ** 5)))

v("t-letter-spacing-xxs", 0.02em)
v("t-letter-spacing-xs", 0.01em)
v("t-letter-spacing-sm", 0em)
v("t-letter-spacing-md", -0.01em)
v("t-letter-spacing-lg", -0.01em)
v("t-letter-spacing-xl", -0.02em)
v("t-letter-spacing-xxl", -0.02em)

v("t-line-height-xxs", "calc(%s * 1.1)" % $t-line-height-base)
v("t-line-height-xs", "calc(%s * 1)" % $t-line-height-base)
v("t-line-height-sm", "calc(%s * 1)" % $t-line-height-base)
v("t-line-height-md", "calc(%s * 0.95)" % $t-line-height-base)
v("t-line-height-lg", "calc(%s * 0.8)" % $t-line-height-base)
v("t-line-height-xl", "calc(%s * 0.75)" % $t-line-height-base)
v("t-line-height-xxl", "calc(%s * 0.75)" % $t-line-height-base)

/*
INPUTS
 */

control-fullwidth()
  display flex
  width 100%

_$input-height = 42px
_$input-height-small = 34px

control-small()
  height _$input-height-small

control()
  -webkit-touch-callout none
  -webkit-appearance none
  -moz-appearance none

  display inline-flex
  align-items center
  justify-content center
  position relative
  vertical-align top

  height _$input-height
  padding 0 12px
  border-radius $s-sm
  border 1px solid $c-border-medium

  color $c-text
  background $c-background-raised
  font-family $t-family
  text-decoration none

  &:focus,
  &:active
    outline none

  &[disabled]
    pointer-events none

  &:active:not([disabled]),
  &:focus:not(:active)
    border-color $c-accent-focus
    box-shadow 0 0 2px $c-accent-focus

  &.fullwidth
    control-fullwidth()

  &.small
    control-small()