/*
COLORS
 */

$color-blue = #2097e8
$color-blue-text = #1c69ab
$color-darkmode-blue-text = lighten($color-blue, 8)

$color-red = #e24161
$color-red-text = #a61216

$color-green = #009635
$color-green-text = #109541

$color-yellow = #ffdd57
$color-gold = #eebc41

$color-white = #ffffff
$color-black = #000000

$color-light-gray-background = #f9f9fa
$color-darkmode-background = #181b22

$color-gray-text-light = #aaa
$color-gray-text = #777
$color-text = #40444a
$color-darkmode-text = #e1e3e5
$color-darkmode-text-dim = darken($color-darkmode-text, 20)

$color-light-border = #eee
$color-medium-border = #ddd
$color-darkmode-medium-border = alpha($color-white, 0.15)
$color-focus-blue = #0d7cc8
$color-button-cta = $color-blue

/*
SIZES
 */
$border-radius = 4px

$height-input = 40px
$height-input-small = 34px


/*
TYPOGRAPHY
 */
$font-sans = "Inter", BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"

$font-weight-sans-regular = 400
$font-weight-sans-bold = 600
$font-weight-sans-black = 900

$_line-height-base = 1.5
$_font-size-base = 16px
$_font-sizes-ratio = 1.333

font-size-ratio(level)
  max(13px, round($_font-size-base * ($_font-sizes-ratio ** level)))

$font-size-small = font-size-ratio(-1)
$font-size-normal = font-size-ratio(0)
$font-size-large-1 = font-size-ratio(1)
$font-size-large-2 = font-size-ratio(2)
$font-size-large-3 = font-size-ratio(3)
$font-size-large-4 = font-size-ratio(4)
$font-size-large-5 = font-size-ratio(5)

tracking(fontSize)
  letter-spacing round(-0.017+(0.202*(2.71828**(-0.175*fontSize))), 3)em

lineHeightRounded(fontSize, lineHeight)
  line-height round(lineHeight * fontSize)px

leading(fontSize)
  lineHeightRounded(fontSize, $_line-height-base - (fontSize - $font-size-normal) * .009)

font-sans(size, weight=$font-weight-sans-regular)
  font-size size*1px
  tracking(size)
  leading(size)
  font-weight weight

/*
SPACING
 */

$_spacing-base = round($_font-size-base * $_line-height-base)

$space-tiny = round($_spacing-base / 4px)
$space-small = round($_spacing-base / 2px)
$space-medium = $_spacing-base
$space-large = round($_spacing-base * 2px)
$space-huge = round($_spacing-base * 4px)

$container-tiny =  $space-medium * 10
$container-small =  $space-medium * 20
$container-medium =  $space-medium * 30
$container-large =  $space-medium * 40
$container-huge =  $space-medium * 60
