.r-tooltip
  position fixed
  z-index 12000
  user-select none
  pointer-events none
  background $c-background-tooltip
  color $c-text-white
  font-weight $t-weight-medium
  padding $s-xs $s-sm
  border-radius $s-sm
  transition top 100ms, left 100ms, opacity 100ms
  transition-delay 50ms
  white-space nowrap
  transform translateX(-50%) translateY(-50%)

  &.left
    transform translateX(-100%) translateY(-50%)

  &.right
    transform translateX(0) translateY(-50%)

  &:not(.active)
    opacity 0