body
  font-family $t-family
  line-height $t-line-height-base
  word-break break-word

for size in "xxs" "xs" "sm" "md" "lg" "xl" "xxl"
  .r-text-size-{size}
    font-size lookup("$t-size-" + size)

  .r-text-letter-spacing-{size}
    letter-spacing lookup("$t-letter-spacing-" + size)

  .r-text-line-height-{size}
    line-height lookup("$t-line-height-" + size)

  .r-text-{size}
    letter-spacing lookup("$t-letter-spacing-" + size)
    font-size lookup("$t-size-" + size)
    line-height lookup("$t-line-height-" + size)

for weight in "light" "regular" "medium" "bold"
  .r-text-{weight}
    font-weight lookup("$t-weight-" + weight)

b,
strong
  font-weight $t-weight-bold

// Defaulting to css, a bug somewhere is removing half of the selectors when using stylus
@css {
  :is(h1, h2, h3, h4, h5, h6, p, ul, ol, pre, .r-space) + :is(p, ul, ol, pre, .r-space) {
    margin-top: var(--s-md);
  }
}

a
  text-underline-position under
  color $c-text-blue
  cursor pointer

  &:visited
    color $c-text-purple

.r-text-color-regular
  color $c-text

.r-text-color-muted
  color $c-text-muted

.r-text-color-red
  color $c-text-red

.r-text-left
  text-align left

.r-text-center
  text-align center

.r-text-right
  text-align right

.r-ellipsis
  white-space nowrap
  overflow hidden
  text-overflow ellipsis

hr
  height 2px
  border none
  outline none
  padding 0
  box-shadow none
  background $c-border-light

pre, code:not([class])
  padding $s-xxs $s-sm
  border-radius $s-sm
  border 2px solid $c-border-light

pre
  padding $s-md
  overflow-x auto

ul,
ol
  padding-left $s-lg