body
  font-family $font-sans
  line-height $line-height-base
  word-break break-word
  color $color-text
  font-feature-settings: "calt" 1

b,
strong
  font-weight $font-weight-sans-bold


/*
DEFAULT BOTTOM MARGINS
 */

p,
pre
  &:not(:last-child)
    margin-bottom $space-medium

/*
TEXT
 */

p
  font-sans($font-size-normal)

a
  text-underline-position under
  color $color-link
  cursor pointer

  &:visited
    color $color-link-visited

  .darkMode &
    color $color-link-darkmode

    &:visited
      color $color-link-visited-darkmode

/*
TITLES
 */

for i in "1" "2" "3" "4" "5" "6" "caps"
  .r-title-{i}
    word-wrap break-word
    margin-bottom $space-small

    &:not(:first-child)
      margin-top $space-large

.r-title-1
  font-sans($font-size-large-5)

.r-title-2
  font-sans($font-size-large-4)

.r-title-3
  font-sans($font-size-large-3)

.r-title-4
  font-sans($font-size-large-2)

.r-title-5
  font-sans($font-size-large-1)

.r-title-6
  font-sans($font-size-normal, $font-weight-sans-bold)

.r-title-caps
  font-sans($font-size-small, $font-weight-sans-bold)
  text-transform uppercase
  letter-spacing 0.1em


/*
UTILITY
 */

.r-text-regular
  font-weight $font-weight-sans-regular

.r-text-medium
  font-weight $font-weight-sans-medium

.r-text-bold
  font-weight $font-weight-sans-bold

.r-text-color-body
  color $color-text

  .darkMode &
    color $color-text-darkmode

.r-text-color-quiet
  color $color-text-quiet

  .darkMode &
    color $color-text-quiet-darkmode

.r-text-color-error
  color $color-text-red

  .darkMode &
    color $color-text-red-darkmode

.r-text-small
  font-sans-no-weight($font-size-small)

.r-text-left
  text-align left

.r-text-center
  text-align center

.r-text-right
  text-align right

.r-ellipsis
  white-space nowrap
  overflow hidden
  text-overflow ellipsis

/*
OTHER
 */

hr
  height 2px
  border none
  outline none
  margin $font-size-normal 0
  padding 0
  box-shadow none
  background alpha($color-black, 4%)

  .darkMode &
    background alpha($color-white, 8%)
