body
  font-family $font-sans
  line-height $_line-height-base
  word-break break-word
  color $color-text

b,
strong
  font-weight $font-weight-sans-bold


/*
DEFAULT BOTTOM MARGINS
 */

p,
pre
  margin-bottom $space-medium

  &:last-child
    margin-bottom 0

/*
TEXT
 */

p
  font-sans($font-size-normal)

a
  text-underline-position under
  color $color-text-blue
  cursor pointer

  &:visited
    color spin(desaturate($color-text-blue, 15), 10deg)

  .darkMode &
    color $color-text-blue-darkmode

    &:visited
      color spin($color-text-blue-darkmode, 10deg)

/*
TITLES
 */

for i in "1" "2" "3" "4" "5" "6" "caps"
  .title-{i}
    word-wrap break-word
    margin-bottom $space-small

    &:not(:first-child)
      margin-top $space-large

.title-1
  font-sans($font-size-large-5)

.title-2
  font-sans($font-size-large-4)

.title-3
  font-sans($font-size-large-3)

.title-4
  font-sans($font-size-large-2)

.title-5
  font-sans($font-size-large-1)

.title-6
  font-sans($font-size-normal, $font-weight-sans-bold)

.title-caps
  font-sans($font-size-small, $font-weight-sans-bold)
  text-transform uppercase
  letter-spacing 0.1em


/*
UTILITY
 */

.text-bold
  font-weight $font-weight-sans-bold

.text-center
  text-align center

.text-right
  text-align right

.text-quiet
  color $color-text-quiet

  .darkMode &
    color $color-text-quiet-darkmode

.text-error
  color $color-text-red

  .darkMode &
    color $color-red

.text-small
  font-sans-no-weight($font-size-small)

/*
OTHER
 */

hr
  height 2px
  border none
  outline none
  margin $font-size-normal 0
  padding 0
  box-shadow none
  background $color-border-light

  .darkMode &
    background $color-border-medium-darkmode

