/*
ELEVATION
 */

for level in "0" "1" "2" "3"
  .r-elevation-{level}
    color $color-text
    background lookup("$color-background-" + level)

    &.darkMode,
    .darkMode &
      color $color-text-darkmode
      background lookup("$color-background-" + level + "-darkmode")

.r-border-radius
  border-radius $border-radius

.r-border-radius-double
  border-radius $border-radius * 2px

/*
SCROLLBAR
 */

.r-styled-scrollbar

  &::-webkit-scrollbar
    width 8px
    height 8px

  &::-webkit-scrollbar-track
    background-color alpha($color-black, 5%)
    border-radius 0

  &::-webkit-scrollbar-thumb
    border-radius 4px
    min-height 40px
    background alpha($color-black, 20%)

  &::-webkit-scrollbar-thumb:window-inactive
    background alpha($color-black, 15%)

  .darkMode &,
  &.darkMode

    &::-webkit-scrollbar-track
      background-color transparent

    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-thumb:window-inactive
      background alpha($color-white, 15%)
