/*
AREAS
 */

.r-background-primary
  background $color-white
  color $color-text

  .darkMode &
    background $color-background-darkmode
    color $color-text-darkmode

.r-background-secondary
  background $color-background-light-gray
  color $color-text

  .darkMode &
    background lighten($color-background-darkmode, 6%)
    color $color-text-darkmode
