@import "shared.styl"

/*
SPACING
 */

for direction in "top" "bottom"
  .space-{direction}-tiny
    margin-{direction} $space-tiny

  .space-{direction}-small
    margin-{direction} $space-small

  .space-{direction}-medium
    margin-{direction} $space-medium

  .space-{direction}-large
    margin-{direction} $space-large

  .space-{direction}-huge
    margin-{direction} $space-huge


.margin-top-none
  margin-top 0 !important

.margin-bottom-none
  margin-bottom 0 !important

.margin-vertical-none
  margin-top 0 !important
  margin-bottom 0 !important

.margin-horizontal-none
  margin-left 0 !important
  margin-right 0 !important

.margin-none
  margin 0 !important


/*
FULL HEIGHT
 */

.r-fullheight-parent
  position relative

  & > .r-fullheight
    position absolute
    top 0
    bottom 0
    left 0
    right 0

/*
CONTAINERS
 */

.r-container
  margin-left auto
  margin-right auto
  padding-left $space-medium
  padding-right $space-medium

for size in "huge" "large" "medium" "small" "tiny"
  .r-container-{size}
    max-width lookup("$container-" + size)

.r-container-maximum
  max-width none

.r-container-row
  display flex
  flex-direction row
  margin-left auto
  margin-right auto
  overflow-x auto
  overflow-y hidden

  & > .r-container-column
    flex-grow 0
    flex-shrink 1
    min-width $container-tiny - $space-medium
    max-width none
    padding-left $space-medium
    padding-right $space-medium

  for size in "huge" "large" "medium" "small" "tiny"
    & > .r-container-{size}
      flex-basis lookup("$container-" + size)

  & > .r-container-maximum
    flex-grow 1
    flex-basis 100%

  for size in "large" "medium" "small"
    &.r-columns-mobile-{size}
      @media (max-width lookup("$container-" + size))
        display block
        position static

        & > .r-container-column
          max-width none
          min-width 0


  &.r-fullheight
    & > .r-container-column
      overflow-y auto
      -webkit-overflow-scrolling touch


/*
FLEX
 */

for n in 0 1 2 3
  .flex{n}
    flex n n auto

/*
MODAL
 */

body.r-modal-open
  overflow hidden
