.r-background
  background $c-background

.r-background-raised
  background $c-background-raised

for size in "none" "xxs" "xs" "sm" "md" "lg" "xl" "xxl"
  .r-border-radius-{size}[class]
    border-radius lookup("$s-" + size)

  for type in "margin" "padding"
    // .r-m-sm
    .r-{substr(type, 0, 1)}-{size}[class]
      {type} lookup("$s-" + size)

    // .r-m-t-sm
    for direction in "top" "bottom" "left" "right"
      .r-{substr(type, 0, 1)}-{substr(direction, 0, 1)}-{size}[class]
        {type}-{direction} lookup("$s-" + size)

.r-clearfix:before,
.r-clearfix:after
  content " "
  display table

.r-clearfix:after
  clear both

for size in "xs" "sm" "md" "lg" "xl" "xxl"
  &.r-media-hide-under-{size}[class]
    @media (max-width lookup("_$container-" + size))
      display none

  &.r-media-hide-over-{size}[class]
    @media (min-width (lookup("_$container-" + size) + 0.1px))
      display none

.r-flex-container
  display flex
  flex-direction row

.r-flex-container-column
  flex-direction column

.r-flex-items-start
  align-items flex-start

.r-flex-items-center
  align-items center

.r-flex-items-end
  align-items flex-end

for n in 0 1 2 3
  .r-flex-{n}
    flex n n auto
